@font-face {
  font-family: 'mystart-font';
  src: url('mystart-font.woff2?16748942') format('woff2'),
       url('mystart-font.woff?16748942') format('woff');
  font-weight: normal;
  font-style: normal;
}
