* { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-stroke-width: .5px; -webkit-text-stroke-color: rgba(0, 0, 0, .25); }
*::selection { background: transparent; }
body { margin: 0; padding: 0; border: none; width: 320px; background-color: #fff; color: #323232; font-size: 15px; overflow: hidden}



header { background: linear-gradient(#fefefe, #dbdbdb); height: 56px; }
header::after { clear: both; }
header #btn-logo { float: left; width: 52px; height: 56px; background: url(../img/topleft-logo.jpg); cursor: pointer; }
header .box-search { position: relative; float: right; width: 268px; height: 56px; }
header input {
	display: block;
	margin: 14px;
	padding: 6px 28px;
	background: url(../img/ico-searchworks.png) no-repeat 7px 7px;
	border: 0;
	width: 240px;
	height: 28px;

	background-color: #fff;
	outline: 0;
	-webkit-border-radius: 20px;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 1px 1px 1px 0px #d1d1d1;
}
header input::selection { background: #62cef2; }
header input, header input::-webkit-input-placeholder { color: #4b4b4b; font: 14px/16px 'HelveticaNeueLT-Medium'; }
header input:focus::-webkit-input-placeholder { opacity: 0; }
header #btn-search { position: absolute; right: 22px; top: 21px; width: 15px; height: 15px; cursor: pointer; background-image: url(../img/ico-search.png); }
header #btn-search:hover { background-image: url(../img/ico-search-over.png); }



footer { background: linear-gradient(#fff, #dbdbdb); height: 124px; padding-top: 20px; font-size: 0; line-height: 0; }
footer .social { text-align: center; }
footer .social > div { display: inline-block; margin: 14px 6px; width: 26px; height: 26px; cursor: pointer; }
footer #btn-twitter { background-image: url(../img/twitter.png); }
footer #btn-youtube { background-image: url(../img/youtube.png); }
footer #btn-linkedin { background-image: url(../img/linkedin.png); }
footer #btn-facebook { background-image: url(../img/facebook.png); }
footer #btn-library { margin: 0 auto; width: 227px; height: 36px; cursor: pointer; background: url(../img/business-stanford-library.png); }



.menu { margin-top: 13px; height: 355px; overflow-y: scroll; overflow-x: hidden; }
.menu::-webkit-scrollbar-track { border-radius: 10px; background: transparent; }
.menu::-webkit-scrollbar { width: 6px; background-color: #FFF; }
.menu::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #7F7F7F; background-color: rgba(50,50,50,0.6); }

.menu-item {
	position: relative;
	cursor: pointer;
	height: 44px;
	font: 15px/44px 'HelveticaNeueLT-Bold';
	color: #0e0e0e;
	background: transparent no-repeat 10px 6px;
	padding-left: 64px;
}
.menu-item:hover {
	color: #a80532;
}
.menu-item i {
	position: absolute;
	display: inline-block;
	right: 12px;
	top: 16px;
	width: 12px;
	height: 12px;
	background: url(../img/arrow-side.png);
}
.menu-item.active i {
	background: url(../img/arrow-down.png);
}
.menu-item b {
	position: absolute;
	display: inline-block;
	left: 52px;
	right: 0;
	bottom: 0;
	height: 1px;
	background: #e0e0e0;
}

.submenu {
	margin: 0 0 0 52px;
	padding: 0;
	list-style-type: none;

	display: none;
	overflow: hidden;
}
.submenu-item {
	margin: 0;
	padding: 0 4px 0 32px;
	height: 38px;
	background: url(../img/square.png) #f5f5f5 no-repeat 14px 17px;
	font: 13px/37px 'HelveticaNeueLT-Medium';
	border-bottom: 1px solid #fff;
	cursor: pointer;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	-webkit-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}
.submenu-item:hover { background-color: #d0d0d0; }
.submenu-item.separator { border-color: #d0d0d0; }
